.header {
    height: 200px;
    width: 100%;
}

.header img {
    height: 200px;
    width: 100%;
    background-color: darkcyan;
}

.main {
    height: 650px;
    width: 100%;
    background-color: hsl(180, 52%, 96%);
}

.divMain {
    display: flex;
    gap: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_picture {
    padding: 5px;
}

.second_div {
    padding: 10px;
}

.profile_div {
    padding: 5px;
}

.div_job_title {
    padding: 5px;
    font-weight: 700;
}

.contract_div {
    color: gray;
}

.attribution {
    position: relative;
    text-align: center;
    bottom: 0;
    font-size: 18px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}