.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

main {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

.header {
    display: grid;
    grid-template-columns: 60em 20em;
    gap: 2em;
}

.header-profile {
    display: inline-flex;
    gap: 60px;
    margin-top: 25px;
}

.product-images {
    height: 450px;
}

.thumbnail-images img {
    border-radius: 5px;
}

.header-title ul li {
    display: inline;
    padding: 5px 10px;
    color: hsl(219, 9%, 45%);
}

.header-title ul li:nth-child(1) {
    color: black;
    font-size: 20px;
}

.header-profile div:nth-child(1) img {
    height: 40px;
}

.avatar-profile img {
    height: 40px;
}

.line__height {
    background-color: grey;
}

.product__1 {
    height: 310px;
    width: 370px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

.thumbnail-images {
    display: flex;
    gap: 1.5em;
}

.thumbnail-images img {
    height: 75px;
}

.thumbnail-images div {
    /* height: 80px;
    width: 80px; */ 
    cursor: pointer;
}

.product__2 {
    height: 110px;
    
}

.product__3 {
    height: 110px;
    
}

.product__4 {
    height: 110px;
    
}

.product__5 {
    height: 110px;
   
}

.selected-thumbnail {
    background-color: rgba(212, 185, 185, 0.5);
    opacity: 0.7;
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    position: relative;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.lightbox-thumbnails {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail-container {
    width: 88px;
    height: 88px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-top: -20px;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.thumbnail-container img:hover {
    opacity: 0.7;
}

.active-thumbnail {
    opacity: 0.5;
    border: 2px solid #ff7d1a;
}

.currentImage {
    width: 97%;
    max-width: 550px;
    border-radius: 15px;
}

.close-button {
    position: absolute;
    top: -40px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.prev-button {
    left: -20px;
}

.next-button {
    right: 0;
}

#sneaker-title {
    color: gray;
    font-weight: 700;
    font-size: 20px;
}

.sneaker-description-div p {
    font-size: 18px;
    color: grey;
}

.sneaker-price-div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sneaker-original-price-div {
    margin-top: 15px;
    margin-bottom: 5px; 
}

.sneaker-original-price {
    color: grey;
}

.sneaker-price {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 700;
}

.sneaker-reduction {
    color: white;
    background-color: black;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
}

.sneaker-sales-div {
    display: flex;
    gap: 2em;
    margin-top: 15px;
}

.sneaker-sales-div div button {
    padding: 10px 15px;
    padding-top: 13px;
}

.sneaker-sales-div div span.article-count {
    font-size: 25px;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: gainsboro;
} 

.add-to-cart-div #add-to-cart-btn {
    padding: 10px 35px;
    font-weight: 700;
    background-color: hsl(26, 100%, 55%);
    border-radius: 5px;
    border: none;
}

.add-to-cart-btn-text {
    margin-left: 15px;
    font-size: large;
}

/* article modal */
.cart-modal {
    position: absolute;
    top: 80px; 
    right: 200px;
    width: 360px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 20px 50px -20px rgba(29, 32, 38, 0.503143);
    z-index: 1000;
}

.cart-modal-header {
    padding: 24px;
    border-bottom: 1px solid #E4E9F2;
}

.cart-modal-header h3 {
    font-weight: 700;
    font-size: 16px;
    color: #1D2026;
    margin: 0;
}

.cart-modal-content {
    padding: 24px;
    min-height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-modal-content p {
    color: #69707D;
    font-weight: 700;
    font-size: 16px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-bottom: 1px solid #E4E9F2;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    color: #69707D;
    margin: 0;
    font-size: 16px;
}

.cart-item-price {
    color: #69707D;
    margin: 0;
}

.total-price {
    color: #1D2026;
    font-weight: 700;
    margin-left: 8px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.delete-button:hover {
    opacity: 0.7;
}

.checkout-button {
    width: calc(100% - 48px);
    margin: 24px;
    padding: 18px;
    background: #FF7E1B;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.checkout-button:hover {
    opacity: 0.7;
}