body {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 100vh;
    margin-left: 30px;
}

#crew__text {
    color: white;
    font-size: 35px;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    
  }
  
  .step.active {
    opacity: 1;
  }

  #crew__role {
    text-transform: uppercase;
    color: #bbbbbb;
    font-size: 35px;
  }

  #crew__name {
    text-transform: uppercase;
    color: white;
    font-size: 35px;
  }

  #crew__bio {
    color: #bbbbbb;
    font-size: 25px;
  }

.crew__information {
  margin-top: 126px;
  width: 50%;
}

.crew__main {
  display: grid;
  grid-template-columns: auto auto;
}

#crew__picture {
  margin-top: 80px;
  height: 30em;
  margin-right: 175px;
}

/* responsive design for mobile */
@media (max-width: 768px) { 
  body {
    background-image: url('../assets/crew/background-crew-mobile.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 100vh;
    margin-left: 30px;
  }

  .crew__information {
    margin-top: 15px;
    width: 100%;
    order: 3;
  }
  
  .crew__main {
    display: flex;
    flex-direction: column;
  }
  
  #crew__picture {
    margin-top: 30px;
    width: 90%;
    height: fit-content;
    order: 1;
    object-fit: fill;
  }

}

/* responsive design for tablet */
@media (min-width: 768px) and (max-width: 1024px) { 
  body {
    background-image: url('../assets/crew/background-crew-tablet.jpg');
  }

  .crew__main {
    display: flex;
    flex-direction: column;
  }

  .crew__information {
    margin-top: 15px;
    width: 100%;
    order: 1;
  }

  .move__link {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    gap: 10px;
  }

  .crew__picture {
    order: 3; 
  }

}