body {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh; 
    margin-left: 30px;
}

.grid__content__destination {
    display: grid;
    grid-template-columns: 50% 50%;
}


.nav__destination {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    background-color: transparent; 
    padding: 15px 30px;
    border-radius: 10px; 
}

.nav__link {
    color: white; 
    text-decoration: none; 
    font-size: 1.2rem; 
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav__link.active {
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

.container {
    color: white;
    display: grid;
    grid-template-rows: 60px auto auto auto;
    text-align: left;
}

.logo__image__destination img {
    margin-left: 130px;
    margin-top: 35px;
}

.destinationName {
    padding-top: 25px;
}

.destinationDescription {
    margin-top: 45px;
}

.destinationDescription p {
    font-size: 20px;
    color: gray;
}

.line__tag {
    margin-top: 30px;
    margin-bottom: 30px;
}

.feet {
    display: grid;
    grid-template-columns: auto auto;
}

.distance__tag p {
    color: grey;
}

.travel__tag p {
    color: grey;
}

/* mobile responsive design */

@media (max-width: 600px) {
    body {
        background-image: url('../assets/destination/background-destination-mobile.jpg');
        background-repeat: no-repeat; 
        background-size: cover;
        min-height: 100vh; 
        margin-left: 10px;
    }

    .grid__content__destination {
        display: block;
    }

    #destination__text {
        margin-top: 10px;
    }

    .logo__image__destination img {
        margin-top: 0px;
        height: 110px;
    }

    .nav__destination {
        margin-top: 50px;
    }

    #destinationName {
        text-align: center;
    }

    .line__tag {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}


/* tablet responsive design */ 
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }

    .grid__content__destination {
        display: flex;
        flex-direction: column;
    }

    .logo__image__destination {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .logo__image__destination img {
        margin-top: 0px;
        height: 150px;
    }

    #destinationName {
        text-align: center;
    }

    .nav__destination {
        justify-content: space-evenly;
    }
}