body {
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat; 
    background-size: cover; /* Pour s'assurer que l'image couvre tout l'écran */
    min-height: 100vh; /* Pour garantir que le body prend toute la hauteur de la fenêtre */
    margin-left: 30px;

} 

.navbar-collapse ul li {
    padding: 25px 10px;
    background-color: rgb(62, 69, 69);
}

.main {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 2rem;
}

.main__content {
    margin-left: 80px;
    margin-top: 80px;
}

.main__content h1 {
    width: 100%;
    /* font-size: clamp(2rem, 8vw, 6rem); */ /* Taille de police responsive */
    text-align: justify; 
    text-transform: uppercase; 
    letter-spacing: 4px;
    word-spacing: 8px;
    color: gray;
    
}

/* .main__content {
    color: whitesmoke;
    font-weight: 400;
    margin-left: 50px;
    width: 50%;
} */ 

/* .image__explore__div {
    font-size: 15px;
    background-color: yellow;
    height: 160px;
    width: 180px;
    border-radius: 50%;
 } */ 

/*  .nav-item .active {
    text-decoration: underline;
 } */ 

 .nav-item {
    position: relative;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

 .image__explore__div {
    margin-top: 350px;
    margin-left: 300px;
    font-size: 30px;
    background-color: white;
    height: 260px;
    width: 250px;
    border-radius: 50%;
    /* Ajout des propriétés pour centrer */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Pour centrer le texte si multilignes */
}

.link__number {
    font-weight: 700;
    color: white;
}

.space__description {
    font-size: 25px;
    color: grey;
}

#space__word__style {
    font-size: 260px;
    color: #ffff;
}

/* destination page */
#destination__text {
    margin-top: 5rem;
    color: gray;
} 

/* mobile CSS responsive */ 
/* 
.main__content {
    margin-left: 80px;
    margin-top: 80px;
}

.main__content h1 {
    width: 100%;
    /* font-size: clamp(2rem, 8vw, 6rem); 
    text-align: justify; 
    text-transform: uppercase; 
    letter-spacing: 4px;
    word-spacing: 8px;
    color: gray;
    
} */ 

@media (max-width: 768px) { 
    body {
        background-image: url('../assets/home/background-home-mobile.jpg');
        background-repeat: no-repeat; 
        background-size: cover;
        min-height: max-content;
        margin-left: 10px;
    }

    .navbar-toggler-icon {
        background-color: white;
        margin-top: -80px;
    }

    .main {
        display: block;
    }

    .main__content {
        margin-top: 0px;
        margin-left: 0px;
        width: max-content;
    }

    .main__content h1 {
        letter-spacing: 0px;
        word-spacing: 0px;
    }

    #space__word__style {
        font-size: 130px;
    }

    .space__description {
        display: block;
        width: 100%;
    }

    .image__explore__div {
        margin-left: 80px;
    }

}

/* tablet CSS responsive */ 

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: url('../assets/home/background-home-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* margin-left: 60px; */ 
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    #space__word__style {
        text-align: center;
        font-size: 80px;
    }

    .image__explore__div {
        margin-top: 50px;
    }


    /* 
    body {
        background-image: url('../assets/home/background-home-mobile.jpg');
        background-repeat: no-repeat; 
        background-size: cover;
        min-height: max-content;
        margin-left: 10px;
    }

    .navbar-toggler-icon {
        background-color: white;
        margin-top: -80px;
    }

    .main {
        display: block;
    }

    .main__content {
        margin-top: 0px;
        margin-left: 0px;
        width: max-content;
    }

    .main__content h1 {
        letter-spacing: 0px;
        word-spacing: 0px;
    }

    #space__word__style {
        font-size: 130px;
    }

    .space__description {
        display: block;
        width: 100%;
    }

    .image__explore__div {
        margin-left: 80px;
    } */
}