.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    
}

.body {
    background-color: hsl(234, 29%, 20%);
}

.main-content {
    display: grid;
    grid-template-columns: 2fr auto;
    width: 50%;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 50px;
    height: 550px;
}

.main .main-content .logo-content img {
    height: 80%;
    float: right;
    padding: 15px;
}

#text-title {
    size: 16px;
    color: hsl(234, 29%, 20%);
    text-align: center;
}

#text-content {
    padding-left: 20px;
    font-size: 16px;
    padding-right: 35px;
}

#email-text {
    margin-top: 15px;
    font-weight: 400;
}

/* CSS for success.html */
.main-success {
    margin: 0 auto;
    width: 30%;
    padding: 25px;
    margin-top: 95px;
    background-color: white;
    border-radius: 20px;
}

#subscribe_id:hover {
    background-color: rgb(233, 98, 138);
}

#dissmis-btn:hover {
    background-color: rgb(233, 98, 138);
}

