.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    
}

.body {
    background-color: hsl(234, 29%, 20%);
}

.main-content {
    display: grid;
    grid-template-columns: 2fr auto;
    width: 50%;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 50px;
    height: 550px;
}

.main .main-content .logo-content img {
    height: 80%;
    float: right;
    padding: 15px;
}

#text-title {
    size: 16px;
    color: hsl(234, 29%, 20%);
    text-align: center;
}

.data-content-span {
    display: inline-flex;
    padding-left: 15px;
}

.data-content-span img {
    width: 20px;
    margin-right: 10px;
}

.data-content-span p {
    margin-top: 15px;
}

#text-content {
    padding-left: 20px;
    font-size: 16px;
    padding-right: 35px;
}

#email-text {
    margin-top: 15px;
    font-weight: 400;
}

.form-group {
    padding-left: 15px;
}

#form_label_span {
    display: inline-flex;
}

#error_email_text {
    margin-left: 100px;
    margin-top: 15px;
}

#subscribe_id {
    width: 80%;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

#dissmis-btn {
    width: 80%;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/* CSS for success.html */
.main-success {
    margin: 0 auto;
    width: 30%;
    padding: 25px;
    margin-top: 95px;
    background-color: white;
    border-radius: 20px;
}

#subscribe_id:hover {
    background-color: hsl(0, 94%, 66%);
}

#dissmis-btn:hover {
    background-color: hsl(0, 94%, 66%);
}

