  .attribution {
    font-size: 11px; 
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 50px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .header {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
  }

  .header .header__logo {
    margin-left: 30px;
  }

  .main__section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 20px;
    margin-left: 30px;
  }

  .main__section_left img {
    width: 90%;
  }

  .main__section_right {
    background-color: black;
    margin-right: 15px;
    color: white;
    padding: 14px 18px;
    text-align: left;
  }

  #main__section_right_title {
    color: hsl(35, 77%, 62%);
  }

  .description_img_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }

  .description_img_left div h3 {
    font-weight: bold;
    font-size: 60px;
  }

  .description_img_left p {
    margin-right: 20%;
    color: hsl(32, 7%, 57%);
  }

  .description_img_left .btn {
    background-color: hsl(5, 85%, 63%);
    color: white;
  }

  .main__section_right .hr_tag {
    background-color: white;
  }

  .main__section_right h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .main__section_right p {
    font-size: small;
    color: hsl(33, 12%, 81%);
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 30px;
  }

  .products .products_global_div img {
    width: 85px;
    height: 100px;
  }

  .products .products_global_div {
    display: inline-flex;
  }
  .products .products_global_div div {
    margin-left: 20px;
  }

    .products .products_global_div div p:nth-child(1) {
        font-size: 20px;
        color: hsl(32, 12%, 81%);
    }

    .products .products_global_div div p:nth-child(2) {
        line-height: 2px;
    }