  .attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .body {
    /* style="margin-left: 7em; width: 80%;" 
    margin-left: 7em; */ 
    width: 80%;
    /* margin: 0px; */
  }

/*   .body {
    position: relative; */
    /* background: linear-gradient(to bottom, hsl(230, 22%, 74%) 5%, white); */
  /*  background: linear-gradient(to bottom, hsl(230, 22%, 74%), white 35%);
  }

  .body::after {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, transparent, transparent 50%, hsl(230, 22%, 74%) 50%, hsl(230, 22%, 74%));
  }*/ 

  .header__body {
    height: 200px; 
    width: 100%; 
    background-color: hsl(227, 47%, 96%);
    position: absolute;
    border-radius: 10px;
    z-index: -1;
  }

  .header__toggle {
    display: flex;
    margin-left: 52%;
    margin-top: 15px;
    width: 15%;
  }

  .header__toggle p {
    color: gray;
  }

  .dark-mode {
    background-color: hsl(230, 17%, 14%);
    /* background-color: black; */ 
   /*  color: white; */
  }

  .header__title p {
    line-height: 1px;
  }

  .switch {
    position: relative;
    display: inline-block;
    /* width: 80px; */
    width: 65px;
    height: 34px;
    margin-top: 15px;
    margin-left: 5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: hsl(213, 96%, 18%); */
    background-color: rgb(87, 161, 87);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    /* background-color: hsl(213, 96%, 18%); */
    background-color: rgb(211, 200, 200);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

.dashboard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 7em;
}

.dashboard__1 {
    width: 90%;
    height: auto;
    /* padding: 25px; */
    background-color: hsl(227, 47%, 96%);
}

.dashboard__1__overview {
    width: 88%;
    height: auto;
    /* height: 60% */
    background-color: hsl(227, 47%, 96%);
}

.dashboard__content {
    padding: 25px;
}

.dashboard__content p.nb_followers {
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    line-height: 1px;
}

.nb__likes {
    font-weight: 700;
    font-size: 33px;
}

/* .dashboard__1 p {
    text-align: center;
} */ 

/* .social_media p {
    text-align: 0px;
} */

.social_media {
  margin-left: 65px;
}

.social_media img {
    float: left;
    margin-right: 5px;
}

.logo__icon__overview {
  text-align: center;
}

#logo__icon__overview__1 {
  color: green;
}


#icon__overview_1 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#icon__overview_2 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#icon__overview_3 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#icon__overview_4 {
  color: rgb(177, 51, 51);
  font-weight: 700;
}

#logo__icon__overview__1 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#logo__icon__overview__2 {
  color: rgb(177, 51, 51);
  font-weight: 700;
}

#logo__icon__overview__3 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#logo__icon__overview__4 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#logo__icon__overview__5 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#logo__icon__overview__6 {
  color: rgb(92, 182, 92);
  font-weight: 700;
}

#logo__icon__overview__7 {
  color: rgb(177, 51, 51);
  font-weight: 700;
}

#logo__icon__overview__8 {
  color: rgb(177, 51, 51);
  font-weight: 700;
}

/* #logo__icon__overview__1 {
  color: rgb(43, 231, 43);
  font-weight: 700;
}

#logo__icon__overview__1 {
  color: rgb(43, 231, 43);
  font-weight: 700;
}*/


#logo__icon__overview__1 img  {
  margin-top: 45px;
  margin-left: 145px;
}

#logo__icon__overview__2 img  {
  margin-top: 45px;
  margin-left: 140px;
}

#logo__icon__overview__3 img  {
  margin-top: 45px;
  margin-left: 105px;
}

#logo__icon__overview__4 img  {
 margin-top: 45px;
  margin-left: 145px;
}

#logo__icon__overview__5 img  {
  margin-top:  45px;
  margin-left: 115px;
}

#logo__icon__overview__6 img  {
  margin-top:  45px;
  margin-left: 115px;
}

#logo__icon__overview__7 img  {
  margin-top:  45px;
  margin-left: 130px;
}

#logo__icon__overview__8 img  {
  margin-top: 45px;
  margin-left: 130px;
} 

.nb__likes {
  float: left;
  padding-left: 15px;
}

.overview__text { 
  float: left;
  padding-left: 15px;
  
}

#icon_social_media__1 {
  
  margin-top: 15px;
  margin-left: 120px;
}

#icon_social_media__2 {
  margin-top: 15px;
  margin-left: 160px;
}

#icon_social_media__3 {
  margin-top: 15px;
  margin-left: 155px;
}

#icon_social_media__4 {
  margin-top: 15px;
  margin-left: 110px;
}

#icon_social_media__5 {
  margin-top: 15px;
  margin-left: 130px;
}

/* #icon_social_media__6 #icon_social_media__7 {
  margin-top: 15px;
  margin-left: 160px;
}*/ 

#icon_social_media__6 {
  margin-top: 15px;
  margin-left: 160px
}

#icon_social_media__7 {
  margin-top: 15px;
  margin-left: 160px;
} 

#icon_social_media__8 {
  margin-top: 15px;
  margin-left: 130px;
}

.header {
  display: flex;
  margin-left: 7em;
}

.dashboard__1 #mini-color-fb {
  /* background-color: aqua; width: 100%; height: 3px; */ 
  background-color: hsl(208, 92%, 53%);
  width: 100%;
  height: 3px;
}

.dashboard__1 #mini-color-tw { 
  background-color: hsl(203, 89%, 53%);
  width: 100%;
  height: 3px;
} 

.dashboard__1 #mini-color-insta {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  width: 100%;
  height: 3px;
}

.dashboard__1 #mini-color-yt {
  background-color: hsl(348, 97%, 39%);
  width: 100%;
  height: 3px;
}

#overview__title {
  margin-left: 115px;
}

.dashboard__overview {
  /* style="display: grid; grid-template-columns: auto auto auto auto;"  */
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 7em;
}

.dashboard__overview div:nth-child(5) {
  margin-top: 25px;
}

.dashboard__overview div:nth-child(6) {
  margin-top: 25px;
}

.dashboard__overview div:nth-child(7) {
  margin-top: 25px;
}

.dashboard__overview div:nth-child(8) {
  margin-top: 25px;
}

.nb_followers_text {
  color: grey;
  font-size: 18px;
  text-align: center;
  line-height: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width: 600px) {

  .body {
    width: 100%;
  }

  .header {
    display: block;
    margin-left: 10px;
  }

  /* .header__toggle {
    display: flex;
    margin-left: 52%;
    margin-top: 15px;
    width: 15%;
  } 
  .header {
    display: flex;
    margin-left: 7em;
  }
  */

  .header__toggle {
    margin-left: 0px;
    width: 100%;
  }

  .dashboard {
    display: block;
    margin-left: 20px;
  }

  .dashboard__overview {
    display: block;
   /*  margin-left: 20px; */
  }

  .dashboard__1 {
    margin-top: -55px;
  }

  .dashboard div:nth-child(1) {
    margin-top: 70px;
  }
  
  .dashboard__1__overview {
    margin-top: 18px;
  }

  .social_media {
    margin-left: 30px;
  }

  #overview__title {
    margin-left: 112px;
    font-size: 24px;
  }


  /* .dashboard__overview div:nth-child(5) {
    margin-top: 25px;
  } */

}