
.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    /* color: hsl(228, 45%, 44%); */
    color: white;
}

body {
    background-color:hsl(217, 54%, 11%);
}

.main {
    display: grid;
    background-color: hsl(215, 69%, 16%);
    width: 30%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 60px;
}

.main .main-img img {
    margin-left: 35px;
    width: 80%;
    margin-top: 20px;
} 

.main .main-data {
    margin-left: 35px;
}

.main .main-data p {
    color: hsl(0, 0%, 100%);
}

.main_data_infos {
    display: inline-flex;
}

.main_data_infos .icon_ethereum_img {
    height: 40px;
}

#ethereum_text {
    margin-left: 10px;
    color: hsl(178, 100%, 50%);
}

.main_data_infos .icon_clock_img {
    margin-left: 150px;
    height: 30px;
    margin-top: 10px;
}

.main-data .creator {
    display: inline-flex;
}

.main-data .avatar_logo {
    height: 45px;
}
