/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */ 
.attribution { 
    font-size: 11px; text-align: center; 
    display: none;
}
  .attribution a { 
    color: hsl(228, 45%, 44%); 
}

.body {
    background-color: hsl(232, 25%, 94%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    width: 50%;
   /*  height: 450px; */
    margin: 0 auto;
}

.div__score {
    /* display: grid;
    grid-template-columns: auto auto auto; */ 
    /* background-color: hsl(239, 57%, 85%); */
    margin-top: 15px;
    height: 130px;
    width: 40px;
    border-radius: 10px;
}

.score {
    text-align: center;
    color: hsl(228, 45%, 44%); 
    font-weight: 700;
}

.plus__icon__image  {
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
    height: 20px;
}

.minus__icon__image  {
    padding-left: 10px;
    text-align: center;
    height: 10px;
    width: 20px;
}

/* #comment {
  display: grid;
  grid-template-columns: 30px 4fr;
  padding: 14px 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 18px;
  color: gray;
  background-color: white;
} */

.div__comment {
    display: grid;
    grid-template-columns: 30px 4fr;
    padding: 14px 18px;

    /* margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 18px;
    color: gray;
    background-color: white; */ 

}

.main__div {
    display: grid;
    grid-template-rows: auto auto auto auto;
    background-color: white;
    margin-left: 25px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}

.img__profile {
    width: 40px;
}

.span__reply {
    float: right;
}

.name {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.main__div__reply {
    
    margin-left: 150px;
    width: 84%;
}

.div__vertical__line__reply {
    border-left: 6px solid green;
    height: 500px;
}

.div__score__reply {
    margin-left: 110px;
    background-color: hsl(239, 57%, 85%);
    margin-top: 15px;
    height: 130px;
    width: 40px;
    border-radius: 10px;
}

.score__reply {
    text-align: center;
    color: hsl(228, 45%, 44%); 
    font-weight: 700;
}

.main__div__comment {
    display: grid;
    grid-template-columns: 70px 80% 70px;
    background-color: white;
    margin-left: 25px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}

.send__button {
    background-color: hsl(228, 45%, 44%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 700;
}

.span__you {
    font-weight: bold;
    background-color: hsl(228, 45%, 44%);
    color: white;
    margin: 7px 7px;
    padding: 5px;
}

.span__delete__icon {
    margin: 15px 10px;
    color: red;
    font-weight: bold;
}






