/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */ 
.attribution { 
    font-size: 11px; text-align: center; 
    display: none;
}
  .attribution a { 
    color: hsl(228, 45%, 44%); 
}

.body {
    background-color: hsl(232, 25%, 94%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 50%;
   /*  height: 450px; */
    margin: 0 auto;
}

.main__div {
    background-color: white;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}

.img__profile {
    width: 40px;
}

.span__reply {
    float: right;
}

.name {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.main__div__reply {
    margin-left: 50px;
    width: 94%;
}






