/* .body {
    padding-left: 20px;
} */

.header {
    background-color: #f1f1f1;
    display: flex;
}

.header .header__logo {
    width: 60%;
    padding-left: 40px;
}

.header .header__dark-mode {
    margin-left: 60%;
    width: 30%;
}

.nav {
    display: flex;
    margin-top: 50px;
    padding-left: 40px;
}

#search_country {
    width: 290px;
    padding: 10px;
}

.regions {
    margin-left: 60%;
    width: auto;
}

.regions select {
    padding: 10px;
    width: 200px;
}



.countries {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 250px 250px 250px 250px;
    margin-top: 60px;
    gap: 60px;
}

.countries .country__div {
    
}

.countries .country__div__img {
    width: 250px;
    height: 250px;

}

