.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#desktop-image,
#mobile-image {
    display: none;
}

@media (min-width: 1440px) {
    #desktop-image {
        display: block;

    }
}

@media (max-width: 775px) {
    #mobile-image {
        display: block;

    }
}