.main {
    min-height: 100vh;
    width: 100%;
    background-color: hsl(237, 49%, 15%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.names-tag p {
    color: white;
    font-size: 18px;
}

.score-tag {
    height: 80px;
    width: 20%;
    background-color: white;
    margin-right: 20px;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
}

#score {
    font-weight: 700;
    font-size: 32px;
}

.rule-btn {
    margin-top: 30%;
    margin-right: 20%;
    float: right;
}

/* Styles pour la modal */
.modal {
  z-index: 1050 !important;
  background-color: grey;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal-dialog {
  z-index: 1050 !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}

.modal-content {
    background-color: white;
    position: relative !important;
    padding: 30px;
    border-radius: 5px;
}
.modal-backdrop {
    opacity: 0.75 !important;
}

.rules-button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.rule-btn button {
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}