.attribution { 
    
    position: absolute;
    font-size: 11px;
    text-align: center;
    bottom: 0; 
}

.body {
    background-color: hsl(217, 19%, 24%);
    color: white;
}

.main {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
    background-color: hsl(217, 19%, 38%);
    border-radius: 10px;
    /* height: 210px; */
    height: 40%;
}

#advice_number_text {
    color: hsl(150, 100%, 66%);
    padding-top: 20px;
}

.dice_icon_logo {
    padding: 14px 18px;
    border-radius: 50px;
    background-color: rgb(58, 211, 211);
}

.hr_tag {
    background-color: white;
    width: 47%;
    float: left;
}

.hr2_tag {
    background-color: white;
    width: 45%;
    float: right;
}

.attribution a { color: white }

@media (max-width: 600px) {
    .main {
        width: 90%;
        margin-top: 40%;
    }
}