#body {
    background-color: /* hsl(10, 79%, 65%); */ hsl(26, 66%, 93%);
    height: 100vh;
    width: 100%; 
    position: relative;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: hsl(10, 79%, 65%);;
    color: white;
    width: 30%;
    padding: 10px;
}

